* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: black;
  margin-top: 12px;
}
.marca {
  width: 28px;
  height: 28px;
}
.icono {
  width: 28px;
  height: 28px;
}
.whatsapp {
  width: 40px;
  height: 40px;
  outline: none;
  position: fixed;
  bottom: 4px;
  right: 4px;
}

.derecho {
  font-size: 8px;
  color: antiquewhite;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-family: "Bitcount";
  src: url("./Bitcount-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf")
    format("truetype");
  color: white;
  font-size: 28px;
  background-color: green;
}

.titulo-empleo {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
  text-shadow: 4px 4px 2px rgb(174, 226, 174);
}

.empleo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 4px 4px green;
  margin: 12px;
  padding: 12px;
  width: 90%;
  height: auto;
  font-size: x-large;
  background-color: #c7f4c8;
}

.input-trabajo {
  width: 180px;
  height: 24px;
}

.file-input {
  width: 136px;
  height: 20px;
  margin-bottom: 20px;
}

.submit-input {
  width: 100px;
  height: 20px;
}
.p-trabajo {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 8px;
  text-shadow: green 2px 2px 6px;
  font-size: x-large;
}
.titulo-empleo {
  margin-bottom: 16px;
  margin-top: 20px;
  font-size: 44px;
}

@media (min-width: 768px) {
  header {
    font-size: 40px;
  }
  .derecho {
    font-size: 12px;
  }
  footer {
    height: 48px;
    margin-top: 16px;
  }
  .marca {
    width: 40px;
    height: 40px;
  }
  .icono {
    width: 32px;
    height: 32px;
  }
  .whatsapp {
    width: 48px;
    height: 48px;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 16px;
    padding: 16px;
    width: 70%;
    height: auto;
    font-size: xx-large;
  }

  .input-trabajo {
    width: 188px;
    height: 28px;
  }

  .file-input {
    width: 140px;
    height: 24px;
    margin-bottom: 24px;
  }

  .submit-input {
    width: 120px;
    height: 24px;
  }
  .p-trabajo {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 8px;
    text-shadow: green 2px 2px 6px;
    font-size: xx-large;
  }
}

@media (min-width: 1024px) {
  header {
    font-size: 48px;
  }
  .derecho {
    font-size: 16px;
  }
  footer {
    height: 60px;
    margin-top: 60px;
  }
  .marca {
    width: 60px;
    height: 60px;
  }
  .icono {
    width: 32px;
    height: 32px;
  }
  .whatsapp {
    width: 60px;
    height: 60px;
  }
  .whatsapp:hover {
    width: 80px;
    height: 80px;
  }
}
