* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: black;
  margin-top: 12px;
}
.marca {
  width: 28px;
  height: 28px;
}
.icono {
  width: 28px;
  height: 28px;
}
.whatsapp {
  width: 40px;
  height: 40px;
  outline: none;
  position: fixed;
  bottom: 4px;
  right: 4px;
}

.derecho {
  font-size: 8px;
  color: antiquewhite;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-family: "Bitcount";
  src: url("./Bitcount-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf")
    format("truetype");
  color: white;
  font-size: 28px;
  background-color: green;
}

@media (min-width: 768px) {
  header {
    font-size: 40px;
  }
  .derecho {
    font-size: 12px;
  }
  footer {
    height: 48px;
    margin-top: 16px;
  }
  .marca {
    width: 40px;
    height: 40px;
  }
  .icono {
    width: 32px;
    height: 32px;
  }
  .whatsapp {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 1024px) {
  header {
    font-size: 48px;
  }
  .derecho {
    font-size: 16px;
  }
  footer {
    height: 60px;
    margin-top: 60px;
  }
  .marca {
    width: 60px;
    height: 60px;
  }
  .icono {
    width: 32px;
    height: 32px;
  }
  .whatsapp {
    width: 60px;
    height: 60px;
  }
  .whatsapp:hover {
    width: 80px;
    height: 80px;
  }
}
